<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $(".status").hide();
        $("#connecting").show();

        var payload = { csrfmiddlewaretoken: "{{ csrf_token }}", port: $("#port").val() };
        $.ajax({
          dataType: "json",
          method: "POST",
          url: "connect/",
          data: payload,
          success: function (data) {
            $(".status").hide();
            console.log("All good!");
            console.log(data);
            if (data.connected === true){
                $("#connected").show()
            } else {
                $("#disconnected").show()
            }

          }
        });
    });
});
</script>
</head>

<body>
<h1> DroneKit Sim Connect</h1>

<div>
  Port Number:<br>
  <input type="text" name="port" id="port" value="5760">
  <br><br>
  <button>Connect/Disconnect</button>
</div> 

<div id="status">
    <h1 class="status" id="disconnected" style="color: red;">Disconnected</h1>
    <h1 class="status" id="connected" style="color: green;" hidden>Connected</h1>
    <h1 class="status" id="connecting" style="color: orange;" hidden>Connecting</h1>
</div>
</body>